<%= render 'search' %>

<h1>
	<% if @search_query.present? %>
		<%= t '.search_results' %>
	<% else %>
		<%= t '.title' %>
	<% end %>
</h1>

<% if @search_query.present? and @rooms_result.size <= 0 %>
	<br><br>
	<h1><%= t ('.search_not_found') %></h1> 
	<br>
<% end %>

<%= render @rooms %>
<%= paginate @rooms %>
<%# render partial: 'room', object: current_user.rooms.first %>
