<h2><%= t '.title', user_name: @user.full_name %></h2>

<ul>
	<l1><%= t '.location', location: @user.location %></l1> <br/>
	<l1><%= t '.bio', bio: @user.bio %></l1> <br/>
	<l1>Email: <%= @user.email %></l1>
</ul>

<%= link_to t('.edit'), edit_user_path(@user) %>